.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #222;
  font-size: 1.2rem;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

.taskContent {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.removeButton {
  background: none !important;
  border: none;
  color: #b9b9b9;
  cursor: pointer;
  margin-left: auto;
}

.removeButton:hover {
  color: #4a28b2;
}

.editButton {
  background: none !important;
  border: none;
  color: #b9b9b9;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.editButton:hover {
  color: #4a28b2;
}

.editButton:focus {
  outline: none;
}

.editButton .icon {
  font-size: 1.5rem;
}

.editForm {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  gap: 10px;
}

.editInput {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.saveButton {
  background-color: #4a28b2;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #7a4ed1;
}

.todoDate {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
}

.createdDate {
  font-size: 0.8rem;  /* Меньший размер шрифта */
  color: gray;        /* Серый цвет */
  margin-top: 5px;    /* Немного отступа сверху */
}