.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #222;
  font-size: 1.2rem;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

.taskContent {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.removeButton {
  background: none;
  border: none;
  color: #b9b9b9;
  cursor: pointer;
  margin-left: auto;
}

.removeButton:hover {
  color: #4a28b2;
}

.date {
  color: gray;
  font-size: 0.9rem;
  margin-top: 4px;
}

.editButton {
  background: none;
  border: none;
  color: #b9b9b9;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.editButton:hover {
  color: #4a28b2;
}

.editButton:focus {
  outline: none;
}

.editButton .icon {
  font-size: 1.5rem;
}
