@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #F4F0FF;
  
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/images/back-2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.pageWrapper {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.imagePlaceholder {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #5f33e1;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #4a28b2;
  color: white;
}
.image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  white-space: nowrap; 
}

@media (max-width: 768px) {
  .container {
    background-size: contain;
    padding: 10px;
  }

  .pageWrapper {
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    white-space: normal;
  }

  .imagePlaceholder {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  }

  .image {
    max-width: 250px;
    margin-bottom: 15px;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
    text-align: center;
  }

  .imagePlaceholder {
    width: 120px;
    height: 120px;
  }

  .image {
    max-width: 200px;
  }

  .button {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
}
