.form {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.input {
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.input::placeholder {
  color: #999;
}

.addButton {
  background-color: #5f33e1;
  color: white;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #4a28b2;
}

.addButton .buttonIcon {
  color: white;
}

.addButton:hover .buttonIcon {
  color: white; 
}