@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

body {
  background-color: #F4F0FF;
  color: #333;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  text-align: center;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
  padding: 40px;
}

button {
  background-color: #5F33E1;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: #4a28b2;
  color: white;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

li button {
  margin-left: auto;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
    justify-content: flex-start;
    padding: 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 14px;
  }

  input {
    font-size: 0.9rem;
    margin-bottom: 12px;
  }

  form {
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  ul {
    width: 100%;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
  }

  li button {
    margin-left: auto;
    margin-top: 0;
  }
}
